{% extends "base.html" %}
{% block title %} LogIn {% endblock %}

{% block content %}
    <h1>Log in</h1>
    {% if form.error %}
    <p>
        please, check your username and password
    </p>
    {% else %}
    <p>
        please, use the following form to login.
    </p>
    {% endif %}
    <div class="login-form"> 
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p>
                <input type="submit" value="login"/>
            </p>
        </form>
        <p>
            <a href="#">
                Forgotten your password.?
            </a>
        </p>
    </div>
{% endblock%}