{% extends "base.html" %}

{% block title%} Reset your password {% endblock%}
{% block content %}
    <h1> Reset your password</h1>
    {% if validlink %}
        <p>
            please enter your password
        </p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="change My password"></p>
        </form>
    {% else %}
        <p>
            The password reset link was invalid. please try agian.,..!
        </p>
    {% endif %}
{% endblock%}